html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  display: table;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(/img/bg.jpg);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  top: 50%;
  font-size: 8em;
  margin: 0;
  color: #333;
  //mix-blend-mode: multiply;
  text-transform: uppercase;
}

.icons {
  font-size: 4em;
}

.fa {
  color: #333;
  font-size: 1.3em;
}

.fa:hover {
  color: #e2607e;
}
