body {
  font-family: 'Roboto', sans-serif;
  background: url('http://i16.photobucket.com/albums/b22/nattycdb/c39f1472-d40b-4788-a8e6-29ece0a5630b.jpg~original') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-size: 1.3em;
  color: #333;
}

p {
  padding-top: 15em;
}

.mail {
  color: palevioletred;
}

.fa {
  color: #333;
  margin: 0px 3px;
  font-size: 1.3em;
}

.fa:hover {
  color: palevioletred;
}
